name: Build

concurrency:
  group: build
  cancel-in-progress: true

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Build
        run: chmod +x gradlew && ./gradlew assembleDebug --no-watch-fs

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: artifact
          path: app/build/outputs/apk/debug/*.apk